<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'new_with_braces' => false,
        'phpdoc_inline_tag' => false,
        'concat_space' => ['spacing' => 'one'],
    ])
    ->setFinder($finder)
;
